:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    --background-color: #1e1e1e;
    --text-color: #e0e0e0;
    --border-color: #444444;
}

.main-container {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    margin-left: 100px;
}

.container-one {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 20px;
    gap: 620px;
}

.header p,
.new-issue p {
    font-size: 24px;
    font-weight: bold;
}

.hero-section {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.form-box label {
    margin-right: 10px;
}


.status-box,
.search-box,
.priority-box {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);
    outline: none;
    border-radius: 5px;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid var(--border-color);
    width: 250px;
}

.label-title {
    font-weight: bold;
    font-size: 14px;
    color: var(--text-color);
}

.select-container {
    display: flex;
    gap: 40px;
}

.btn {
    height: 26px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 13px;
    cursor: pointer
}

.new-issue {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.new-issue-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: var(--text-color);
}

.title label {
    margin-bottom: 5px;
}

.title label,
.description label,
.priority label {
    color: var(--text-color);
    font-weight: bold;
}

.title input,
.description textarea,
.priority select {
    width: 800px;
    padding: 8px;
    margin-top: 4px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
}

.description {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.priority {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: var(--text-color);
}

.btn-container {
    display: flex;
    gap: 30px;

}

.new-issue-box .btn {
    margin-top: 15px;
}

#issues-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}