:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container.dark-theme {
    --background-color: #1e1e1e;
    --text-color: #e0e0e0;
    --border-color: #444444;
}

.main-container {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
}

.container-one {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 20px;
    gap: 620px;
}

.header p {
    font-size: 24px;
    font-weight: bold;
}

.hero-section {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.form-box label {
    margin-right: 10px;
}


.status-box,
.search-box,
.priority-box {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);
    outline: none;
    border-radius: 5px;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid var(--border-color);
    width: 250px;
}

.label-title {
    font-weight: bold;
    font-size: 14px;
    color: var(--text-color);
}

.select-container {
    display: flex;
    gap: 40px;
}

.btn {
    height: 26px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
}